<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>

<body>

<form action="" method="post">
	<input type="text" placeholder="Enter name of restaurant" name="rest" value="{{request.form.rest}}">
	<input type="text" placeholder="Enter address of restaurant" name="address" value="{{request.form.address}}">
	<input type="submit" value="What should I order?"> 
</form>
{% if restaurant %}
	<p>{{restaurant}}</p>
{% endif %}
{% if address %}
	<p>{{address}}</p>
{% endif %}

</body>

</html>